@model IEnumerable<WebApplication.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="btn btn-success"
        onclick="location.href='@Url.Action("Create", "Users")'">
    Create New
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            <button class="btn btn-outline-primary btn-sm"
                    onclick="location.href='@Url.Action("Edit", "users", new { id = item.Id })'">
                Edit
            </button>
            @*<button class="btn btn-outline-primary btn-sm"
                onclick="location.href='@Url.Action("Details", "Notifications", new { id = item.Id })'">
            Details
        </button>*@
            <button class="btn btn-outline-danger btn-sm" onclick="deleteUser(@item.Id)">Delete</button>
        </td>
    </tr>
}

</table>
<script>
    async function deleteUser(id) {
        if (!confirm('Are you sure you want to delete this notification?')) return;
        try {
            const res = await fetch(`/users/Delete/${id}`, {
                method: 'DELETE'
            });
            if (res.ok) {
                alert('Deleted successfully');
                location.reload();
            } else {
                alert('Delete failed');
            }
        } catch (error) {
            alert('An error occurred: ' + error.message);
        }
    }
</script>
